<ion-view title="My Profile" id="page1" style="" cache-view="false">
  <ion-content padding="true" class="has-header">
    <ion-list id="myProfile-list6">
      <ion-item id="myProfile-list-item20" style="">Username: {{workerDetails.username}}</ion-item>
      <ion-item id="myProfile-list-item21" style="">Email: {{workerDetails.email}}</ion-item>         
    </ion-list>
    <a ui-sref="menu.editProfile" id="myProfile-button12" class="button button-positive  button-block">Edit</a>
  </ion-content>
</ion-view>